html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

header {
  height: 400px;
  padding-top: 100px;
  background-color: rbg(0, 0, 0);
  background-image: url('../img/header.jpg');
  background-size: cover;
  background-position: 0% 50%;
  text-align: center;
  color: #fff;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3em;
  text-shadow: 0 0 30px rgb(30, 30, 30), 0 1px 30px rgb(30, 30, 30), 0 2px 30px rgb(30, 30, 30),
    0 3px 30px rgb(30, 30, 30);
}

h3 {
  font-size: 1.5em;
  text-shadow: 0 0 30px rgb(30, 30, 30), 0 -7px 30px rgb(30, 30, 30), 0 -5px 30px rgb(30, 30, 30),
    0 -3px 30px rgb(30, 30, 30), 0 1px 30px rgb(30, 30, 30), 0 2px 30px rgb(30, 30, 30), 0 5px 30px rgb(30, 30, 30),
    0 7px 30px rgb(30, 30, 30);
}

hr {
  border: 2px solid #00539f;
  width: 50px;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  cursor: pointer;
}

.navbar-default {
  text-transform: uppercase;
  font-weight: 700;
  background-color: rgb(54, 119, 179);
  border-bottom: 1px solid black;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand {
  color: rgb(255, 203, 0);
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > .active > a {
  color: rgb(255, 203, 0);
  background-color: rgb(54, 119, 179);
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: rgb(255, 203, 0);
}

.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: rgb(54, 119, 179);
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  border: 0;
  background-color: rgb(54, 119, 179);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: rgb(0, 83, 159);
  height: 3px;
}

.color-bg {
  background-color: rgb(54, 119, 179);
  color: #fff;
  padding: 30px 0px;
}

.color-bg hr {
  border-color: #fff;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100px;
}

.coding-icons {
  padding: 30px;
  text-align: center;
}

.languageIcon {
  font-size: 4em;
}

.anchor {
  padding-top: 30px;
}

.col-lg-4,
.col-lg-6,
.col-lg-12 {
  padding: 10px 10px;
  display: flex;
  justify-content: center;
}

.project-box {
  position: relative;
  display: block;
  cursor: pointer;
  margin: auto auto;
}

.project-box-description {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 83, 159, 0.9);
  opacity: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
  visibility: hidden;
  cursor: pointer;
  max-width: 650px;
}

*,
::after,
::before {
  box-sizing: border-box;
}
.collapse {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.collapse.show {
  display: block;
  max-height: 99em;
  transition: max-height 0.5s ease-in-out;
}

@media only screen and (min-width: 480px) {
  .project-box:hover .project-box-description {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 83, 159, 0.9);
    opacity: 1;
    z-index: 10;
    visibility: visible;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 300px;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.2em;
  }
  p {
    font-size: 1em;
  }
}

@media screen and (max-width: 1920px) {
  header {
    background-image: url('../img/header1920.jpg');
  }
}

@media screen and (max-width: 768px) {
  header {
    background-image: url('../img/header768.jpg');
  }
}

@media screen and (max-width: 576) {
  header {
    background-image: url('../img/header576.jpg');
  }
}

.box-clicked .project-box-description {
  /* .project-box-description.box-clicked { */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 83, 159, 0.9);
  opacity: 1;
  z-index: 10;
  visibility: visible;
}

.project-box-text {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.project-name {
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.project-description {
  font-size: 1.4em;
  padding: 0px 10px;
  color: #fff;
}

.project-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-icons i {
  padding: 5px 20px;
}

.project-icons a {
  font-size: 2em;
  color: #fff;
}

.project-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-buttons .btn-default {
  color: #00539f;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
}

.project-anchor {
  position: absolute;
  top: -55px;
}

.fa-chevron-up {
  color: #ffcb00;
  float: right;
}

#projectDetails p a {
  color: #fff;
}

#details {
  padding-top: 30px;
  animation: fadein 2.5s;
  overflow: hidden;
  -moz-animation: fadein 2.5s;
  /* Firefox */
  -webkit-animation: fadein 2.5s;
  /* Safari and Chrome */
  -o-animation: fadein 2.5s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 1000px;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 1000px;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 1000px;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 1000px;
  }
}

#about .btn-default {
  border-radius: 300px;
}

#projectDetails .btn-default {
  border-style: solid;
  border-width: 0px;
  border-radius: 0;
  background-color: #fff;
}

#gitHubLogo {
  width: 50px;
}

#contact {
  min-height: 150px;
}
